{% extends "base.html" %}

{% block content %}
<main class="content">
    <h1 class="title">
        {{ section.title }}
    </h1>

    <h5>
        {{ section.content | safe }}
    </h5>

    <div class="projects">
        {% for page in section.pages %}
            <div class="project">
                <div class="project-buttons">
                    {% for badge in page.extra.badges %}
                        <button class="styled-button badge badge-{{badge}}" disabled="true">
                            {{ badge }}
                        </button>
                    {% endfor %}
                </div>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
