{% extends "base.html" %}

{% block content %}
<main class="content">
    <h1 class="title">
        {{ section.title }}
    </h1>

    {{ section.content | safe }}

    <div class="projects">
        {% for page in section.pages | reverse %}
            <div class="project">
                <div class="project-container">
                    <h5>{{ page.title }}</h5>
                    {% if page.extra.badges %}
                        <div class="project-buttons">
                            {% for badge in page.extra.badges %}
                                <button class="styled-button badge badge-{{badge}}" disabled="true">
                                    {{ badge }}
                                </button>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if page.extra.preview_description %}
                    <p class="project-description">
                        {{ page.extra.preview_description }}
                    </p>
                {% endif %}

                {% if page.extra.preview_image %}
                    <a class="project-image" href="{{ page.extra.preview_image }}">
                        <img class="project-image" src="{{ page.extra.preview_image }}"/>
                    </a>
                {% endif %}

                <div class="project-container">
                    {% if page.extra.git_repo %}
                        <a class="styled-button" href="{{ page.extra.git_repo }}" target="_blank">
                            <button class="styled-button hover-bg-white">
                                Git Repo
                            </button>
                        </a>
                    {% endif %}
                    {% if page.extra.see_more %}
                        <a class="styled-button" href="{{ page.permalink | safe }}">
                            <button class="styled-button hover-bg-white">
                                See more
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
